<div hlmCard class="bg-secondary border-zinc-800 p-3 rounded-lg cursor-grab active:cursor-grabbing"
	(click)="onCardClick($event)">

	<div class="flex items-center justify-between">

		<span class="font-medium text-primary">
			{{ task().title }}
		</span>

		<button hlmBtn variant="ghost" size="icon-sm" class="h-6 w-6 text-zinc-500">
			<ng-icon name="lucideMoreHorizontal" />
		</button>

	</div>

	<div class="flex flex-col gap-2 text-muted-foreground">

		<div class="flex items-center gap-3">
			<ng-icon name="lucideUsers" />
			<span>{{ task().assignments.length || '-'}}</span>
		</div>

		<div class="flex items-center gap-3">
			<ng-icon name="lucideCalendar" />
			<span>{{ task().deadline || '-' }}</span>
		</div>

		<div class="flex items-center gap-3">
			<ng-icon name="lucideFlag" />

			<span [class.text-red-500]="task().priority === 'ALTA'" [class.text-yellow-500]="task().priority === 'MEDIA'"
				[class.text-green-500]="task().priority === 'BAJA'">
				{{ task().priority }}
			</span>

		</div>

	</div>

</div>