<hlm-card (click)="openBoard()" class="relative mx-auto w-full max-w-sm pt-0 cursor-pointer">
	<div class="relative aspect-video w-full">
		<div class="bg-primary absolute inset-0 z-30 opacity-50 mix-blend-color"></div>
		@if (board.thumbnailUrl) {
			<img
				[src]="board.thumbnailUrl"
				alt="Board cover"
				class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
			/>
		} @else {
			<div class="relative z-20 aspect-video w-full bg-[#202024]"></div>
		}

		<div
			class="absolute bottom-2 left-2 z-40 flex items-center gap-1.5 px-2 py-0.5 rounded-md bg-neutral-800/80 border border-neutral-700/50"
		>
			<ng-icon name="lucideMonitor" class="" />
			<span class="text-[13px] font-medium tracking-wider">Board</span>
		</div>
	</div>

	<hlm-card-header>
		<div hlmCardAction>
			<button
				hlmBtn
				size="icon"
				variant="ghost"
				[hlmDropdownMenuTrigger]="menu"
				align="start"
				(click)="$event.stopPropagation()"
			>
				<ng-icon name="lucideMoreHorizontal" />
			</button>
		</div>

		<h3 hlmCardTitle class="text-sm font-medium truncate">{{ board.name }}</h3>
		<p hlmCardDescription class="line-clamp-2">{{ board.description }}</p>
	</hlm-card-header>
</hlm-card>

<ng-template #menu>
	<hlm-dropdown-menu>
		<hlm-dropdown-menu-group>
			<button hlmDropdownMenuItem (click)="editBoard.emit(board)">
				<ng-icon name="lucidePencil" />
				Editar
			</button>
			@if (insideFolder) {
				<button hlmDropdownMenuItem (click)="removeFromFolder.emit(board.id)">
					<ng-icon name="lucideFolderMinus" />
					Sacar del folder
				</button>
			} @else {
				<button hlmDropdownMenuItem>
					<ng-icon name="lucideStar" />
					Favorito
				</button>
			}
		</hlm-dropdown-menu-group>
		<hlm-dropdown-menu-separator />
		<hlm-dropdown-menu-group>
			<button
				hlmDropdownMenuItem
				variant="destructive"
				(click)="$event.stopPropagation(); deleteModalState.set('open')"
			>
				<ng-icon name="lucideTrash2" />
				Eliminar
			</button>
		</hlm-dropdown-menu-group>
	</hlm-dropdown-menu>
</ng-template>
<app-delete-modal
	[state]="deleteModalState()"
	(stateChanged)="deleteModalState.set($event)"
	(confirm)="confirmDelete()"
	title="¿Eliminar pizarra?"
	description="Esta acción no se puede deshacer. Se eliminará permanentemente esta pizarra."
/>
