<hlm-card class="relative mx-auto w-full max-w-sm pt-0">
	<div class="bg-primary absolute inset-0 z-30 aspect-video opacity-50 mix-blend-color"></div>
	<img
		src="https://images.unsplash.com/photo-1604076850742-4c7221f3101b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
		alt="Event cover"
		class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
	/>
	<hlm-card-header>
		<div hlmCardAction>
			<button hlmBtn size="icon" variant="ghost" [hlmDropdownMenuTrigger]="menu" align="start">
				<ng-icon name="lucideMoreHorizontal" />
			</button>
		</div>

		<h3 hlmCardTitle>{{ board.name }}</h3>
		<p hlmCardDescription>{{ board.description }}</p>
	</hlm-card-header>
</hlm-card>
<ng-template #menu>
	<hlm-dropdown-menu>
		<hlm-dropdown-menu-group>
			<button hlmDropdownMenuItem>
				<ng-icon name="lucidePencil" />
				Renombrar
			</button>
			<button hlmDropdownMenuItem>
				<ng-icon name="lucideStar" />
				Favorito
			</button>
		</hlm-dropdown-menu-group>
		<hlm-dropdown-menu-separator />
		<hlm-dropdown-menu-group>
			<button hlmDropdownMenuItem variant="destructive">
				<ng-icon name="lucideTrash2" />
				Eliminar
			</button>
		</hlm-dropdown-menu-group>
	</hlm-dropdown-menu>
</ng-template>
