@if (projects().length > 0) {
	<div class="flex flex-col gap-5 h-full">
		<div>
			<h3 class="flex items-center gap-2 text-xl font-medium">
				<ng-icon name="lucideLayoutGrid"></ng-icon>
				<span>Equipo 1</span>
			</h3>
			<hlm-separator />
			<div class="flex items-center justify-between mt-4">
				<hlm-input-group class="w-70">
					<input hlmInputGroupInput type="search" placeholder="Nombre del proyecto" />
					<hlm-input-group-addon align="inline-end">
						<ng-icon name="lucideSearch" />
					</hlm-input-group-addon>
				</hlm-input-group>

				<div class="flex items-center gap-2">
					<hlm-select [itemToString]="optionToString">
						<hlm-select-trigger class="w-56">
							<hlm-select-value placeholder="Ordernar por" />
						</hlm-select-trigger>
						<hlm-select-content *hlmSelectPortal>
							<hlm-select-group>
								@for (option of sortByOptions; track option.value) {
									<hlm-select-item [value]="option.value">
										{{ option.label }}
									</hlm-select-item>
								}
							</hlm-select-group>
						</hlm-select-content>
					</hlm-select>
					<button hlmBtn (click)="createProjectModal.set('open')">
						<ng-icon name="lucidePlus"></ng-icon>
						Nuevo Proyecto
					</button>
				</div>
			</div>
		</div>

		<div class="flex-1 overflow-auto custom-scroll pe-2">
			<div class="grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-5">
				@for (project of projects(); track project.id) {
					<hlm-card class="relative pt-0">
						<div
							class="bg-primary absolute inset-0 z-30 aspect-video opacity-50 mix-blend-color"
						></div>
						<img
							src="https://images.unsplash.com/photo-1604076850742-4c7221f3101b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
							alt="Event cover"
							class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
						/>
						<hlm-card-header>
							<h3 hlmCardTitle>{{ project.title }}</h3>
							<p hlmCardDescription>Editado hace 2 horas</p>
						</hlm-card-header>
					</hlm-card>
				}
			</div>
		</div>
	</div>
} @else {
	<div class="flex flex-col items-center justify-center gap-4 h-full">
		<ng-icon name="lucideSearch" class="text-xl"></ng-icon>
		<div class="flex flex-col items-center gap-1">
			<h3 class="text-xl font-medium">Aun no hay proyectos</h3>
			<p class="text-muted-foreground text-sm">Crea Tu primer Proyecto</p>
		</div>
		<button hlmBtn (click)="createProjectModal.set('open')">
			<ng-icon name="lucidePlus"></ng-icon>
			Crear Proyecto
		</button>
	</div>
}

<hlm-dialog [state]="createProjectModal()" (closed)="createProjectModal.set('closed')">
	<hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:w-sm">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Crear Proyecto</h3>
			<p hlmDialogDescription>Elije un nombre para tu proyecto</p>
		</hlm-dialog-header>
		<hlm-field-group>
			<hlm-field>
				<label hlmFieldLabel for="name">Nombre</label>
				<input hlmInput id="name" placeholder="Software Project" />
			</hlm-field>
		</hlm-field-group>
		<hlm-dialog-footer>
			<button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
			<button hlmBtn type="submit">Crear</button>
		</hlm-dialog-footer>
	</hlm-dialog-content>
</hlm-dialog>
