@if (channelResource.hasValue()) {
	@let channel = channelResource.value().data;
	<h3><ng-icon name="lucideHash"></ng-icon>{{ channel.name }}</h3>

	<div class="flex-1 flex flex-col gap-5 overflow-auto custom-scroll" #chatContainer>
		@for (message of messages(); track message.id) {
			<div class="flex gap-4">
				<div>
					<img
						[src]="message.avatar"
						alt=""
						class="size-10 object-cover rounded-full translate-y-2"
					/>
				</div>
				<div>
					<div class="flex gap-2 items-end">
						<h4>{{ message.username }}</h4>
						<span class="text-muted-foreground text-xs">{{
							message.createdAt | date: 'dd/MM/yyyy, HH:mm'
						}}</span>
					</div>
					<p>{{ message.content }}</p>
				</div>
			</div>
		}
	</div>

	<div class="w-fulll bg-white/8 p-5 rounded-[12px]">
		<form [formRoot]="messageForm">
			<input
				type="text"
				class="w-full outline-none"
				[formField]="messageForm.content"
				[placeholder]="`Escribe un mensaje a ${channel.name}`"
				autocomplete="off"
			/>
		</form>
	</div>
}
