<div
	class="relative mx-auto w-full max-w-sm cursor-pointer group"
	(click)="folderClick.emit(folder.id)"
>
	<div
		class="w-24 h-3 bg-[#18181b] border-t border-x border-zinc-800 rounded-t-lg ml-4 relative -mb-1px z-10"
		[class.border-primary]="isReceiving"
		[class.bg-primary/20]="isReceiving"
	></div>

	<hlm-card
		class="relative w-full pt-0 overflow-hidden border-zinc-800 bg-[#18181b]"
		[class.border-primary]="isReceiving"
		[class.border-2]="isReceiving"
	>
		<div
			class="relative aspect-video w-full p-3 bg-[#202024] border-b border-zinc-800 grid grid-cols-2 grid-rows-2 gap-1.5 overflow-hidden"
		>
			@for (slot of gridSlots; track slot) {
				<div
					class="relative flex items-center justify-center rounded-md bg-[#121214] border border-zinc-800 overflow-hidden w-full h-full"
				>
					@if (folder.boards?.[slot]?.thumbnailUrl) {
						<img
							[src]="folder.boards[slot].thumbnailUrl"
							[alt]="folder.boards[slot].name"
							class="w-full h-full object-cover brightness-60 grayscale dark:brightness-40 rounded"
						/>
					} @else {
						<div
							class="w-full h-full border border-dashed border-zinc-800 rounded bg-[#161619]"
						></div>
					}
				</div>
			}
		</div>

		<hlm-card-header>
			<div hlmCardAction>
				<button
					hlmBtn
					size="icon"
					variant="ghost"
					[hlmDropdownMenuTrigger]="folderMenu"
					align="start"
					(click)="$event.stopPropagation()"
				>
					<ng-icon name="lucideMoreHorizontal" />
				</button>
			</div>
			<div class="flex items-center gap-2">
				<ng-icon name="lucideFolder" class="w-4 h-4" />
				<h3 hlmCardTitle class="text-sm font-medium">{{ folder.name }}</h3>
			</div>

			<p hlmCardDescription class="text-xs text-neutral-500">
				{{ (folder.boards ?? []).length }}
				{{ (folder.boards ?? []).length === 1 ? 'pizarra' : 'pizarras' }}
			</p>
		</hlm-card-header>
	</hlm-card>
</div>

<!-- Menú Desplegable -->
<ng-template #folderMenu>
	<hlm-dropdown-menu>
		<hlm-dropdown-menu-group>
			<button hlmDropdownMenuItem>
				<ng-icon name="lucidePencil" class="mr-2" />
				Renombrar
			</button>
		</hlm-dropdown-menu-group>
		<hlm-dropdown-menu-separator />
		<hlm-dropdown-menu-group>
			<button
				hlmDropdownMenuItem
				variant="destructive"
				(click)="$event.stopPropagation(); deleteModalState.set('open')"
			>
				<ng-icon name="lucideTrash2" />
				Eliminar
			</button>
		</hlm-dropdown-menu-group>
	</hlm-dropdown-menu>
</ng-template>
<app-delete-modal
	[state]="deleteModalState()"
	(stateChanged)="deleteModalState.set($event)"
	(confirm)="confirmDelete()"
	title="¿Eliminar folder?"
	description="Esta acción no se puede deshacer. Se eliminará permanentemente esta pizarra."
/>
