<div class="flex h-full w-full gap-5">

	<app-sidebar>
		<sidebar-header>
			<nav-header icon="lucideTriangle" [title]="projectName()"></nav-header>
		</sidebar-header>

		<sidebar-content [items]="kanbanItems()" (editRequested)="kanbanFacade.openEdit($event)"
			(deleteRequested)="kanbanDeleteCtrl.open($event)">
			<ng-container append>
				<button hlmBtn class="w-full mt-2 mb-4" (click)="kanbanFacade.openCreate()">
					<ng-icon name="lucidePlus"></ng-icon>
					Crear tablero
				</button>

				<hlm-field-separator />

				<div class="font-medium text-primary px-2 mt-4 mb-2 text-center">
					Tus Tableros
				</div>
			</ng-container>
		</sidebar-content>
	</app-sidebar>

	<div class="flex-1 min-w-0">
		<router-outlet></router-outlet>
	</div>
</div>

<hlm-dialog [state]="kanbanModal()" (closed)="kanbanFacade.closeModal()">
	<hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:w-sm">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>
				{{ kanbanFacade.isEditMode() ? 'Editar Tablero' : 'Crear Tablero' }} </h3>
			<p hlmDialogDescription>
				{{ kanbanFacade.isEditMode() ? 'Modifica las opciones de tu tablero' :
				'Crea un tablero kanban y empieza a organizar tus tareas' }}
		</hlm-dialog-header>

		<form [formRoot]="kanbanForm" id="kanban-form">
			<hlm-field-group>
				<hlm-field>
					<label hlmFieldLabel for="name">Nombre</label>
					<input hlmInput id="name" placeholder="Ejem. Campaña" [formField]="kanbanForm.name" />
					@for (error of kanbanForm.name().errors(); track error.kind) {
					<hlm-field-error [validator]="error.kind">
						{{ error.message }}
					</hlm-field-error>
					}
				</hlm-field>

				<hlm-field orientation="horizontal" class="flex items-center gap-3 border px-4 py-2 rounded-lg">
					<hlm-field-content>
						<label hlmFieldLabel for="two-factor">Hacer privado</label>
						<hlm-field-description>
							Solo tu tendrás acceso a este tablero
						</hlm-field-description>
					</hlm-field-content>
					<hlm-switch [formField]="kanbanForm.privateSwitch" />
				</hlm-field>
			</hlm-field-group>
		</form>
		<hlm-dialog-footer>
			<button hlmBtn variant="outline" hlmDialogClose>Cancelar</button>
			<button hlmBtn form="kanban-form" type="submit" [disabled]="kanbanForm().submitting()">
				{{ kanbanFacade.isEditMode() ? 'Guardar' : 'Crear' }}
			</button>
		</hlm-dialog-footer>
	</hlm-dialog-content>
</hlm-dialog>

<app-delete-modal [state]="kanbanDeleteCtrl.state()"
	[title]="'¿Eliminar el tablero ' + (kanbanDeleteCtrl.item()?.name || '') + '?' "
	description="Esta acción eliminará de forma permanente el tablero y todas sus columnas de tareas asociadas."
	(stateChanged)="$event === 'closed' ? kanbanDeleteCtrl.close() : null" (confirm)="confirmDeleteKanban()" />