<div class="flex h-full w-full gap-5">

	<app-sidebar>
		<sidebar-header>
			<nav-header icon="lucideTriangle" title="Proyecto 1"></nav-header>
		</sidebar-header>

		<sidebar-content [items]="kanbanItems()">
			<ng-container append>
				<button hlmBtn class="w-full mt-2 mb-4" (click)="createKanbanModalState.open()">
					<ng-icon name="lucidePlus"></ng-icon>
					Crear tablero
				</button>

				<hlm-field-separator />

				<div class="font-medium text-primary px-2 mt-4 mb-2 text-center">
					Tus Tableros
				</div>
			</ng-container>
		</sidebar-content>
	</app-sidebar>

	<div class="flex-1 min-w-0">
		<router-outlet></router-outlet>
	</div>
</div>

<hlm-dialog [state]="createKanbanModal()" (closed)="createKanbanModalState.close()">
	<hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:w-sm">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Crear Tablero</h3>
			<p hlmDialogDescription>Crea un tablero kanban y empieza a organizar tus tareas</p>
		</hlm-dialog-header>

		<form>
			<hlm-field-group>
				<hlm-field>
					<label hlmFieldLabel for="name">Nombre</label>
					<input hlmInput id="name" placeholder="Ejem. Campaña" />
				</hlm-field>

				<hlm-field orientation="horizontal" class="flex items-center gap-3 border px-4 py-2 rounded-lg">
					<hlm-field-content>
						<label hlmFieldLabel for="two-factor">Hacer privado</label>
						<hlm-field-description>
							Solo tu tendrás acceso a este tablero
						</hlm-field-description>
					</hlm-field-content>
					<hlm-switch [checked]="privateKanban()" (checkedChange)="privateKanban.set($event)" />
				</hlm-field>
			</hlm-field-group>
		</form>
		<hlm-dialog-footer>
			<button hlmBtn variant="outline" hlmDialogClose>Cancelar</button>
			<button hlmBtn type="submit">Crear</button>
		</hlm-dialog-footer>
	</hlm-dialog-content>
</hlm-dialog>