<hlm-dialog
	[state]="createBoardModalState.createBoardModal()"
	(closed)="createBoardModalState.close()"
>
	<hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:w-sm">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Crear pizarra</h3>
			<p hlmDialogDescription>Crea una pizarra para empezar a diseñar.</p>
		</hlm-dialog-header>

		<hlm-field-group>
			<hlm-field>
				<label hlmFieldLabel for="field-preview-fullname">Nombre</label>
				<hlm-input-group>
					<input hlmInputGroupInput placeholder="Nombre de la pizarra" />
					<hlm-input-group-addon>
						<ng-icon name="lucideSquareMousePointer" />
					</hlm-input-group-addon>
				</hlm-input-group>
			</hlm-field>

			<hlm-field-group>
				<hlm-field>
					<label hlmFieldLabel for="field-preview-comments">Descripcion</label>
					<textarea hlmTextarea class="resize-none" id="field-preview-comments"></textarea>
				</hlm-field>
			</hlm-field-group>
		</hlm-field-group>

		<hlm-dialog-footer>
			<button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
			<button hlmBtn type="submit">Guardar pizarra</button>
		</hlm-dialog-footer>
	</hlm-dialog-content>
</hlm-dialog>
