@if (boards().length > 0 || folders().length > 0) {
	<div class="flex flex-col gap-5 h-full">
		<div>
			<h3 class="flex items-center gap-2 text-xl font-medium">
				<ng-icon name="lucideUsers"></ng-icon>
				<span>Pizarras grupales</span>
			</h3>
			<hlm-separator />
			<app-boards-action
				[isPrivate]="false"
				(searchChange)="onSearchChanged($event)"
				(sortChange)="onSortChanged($event)"
			/>
		</div>
		<div class="flex flex-col overflow-auto custom-scroll pe-2 gap-5">
			<!-- grid solo de boards -->
			<div
				class="grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-5"
				cdkDropList
				cdkDropListSortingDisabled
				[cdkDropListConnectedTo]="folderDropLists()"
			>
				@for (board of filteredBoards(); track board.id) {
					<div cdkDrag [cdkDragData]="board">
						<app-board-card [board]="board" (deleteBoard)="onDeleteBoard($event)" />
					</div>
				}
			</div>

			<!-- grid solo de folders -->
			<div class="grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-5">
				@for (folder of filteredFolders(); track folder.id) {
					<div
						cdkDropList
						[id]="folder.id"
						[cdkDropListData]="folder.boards"
						(cdkDropListDropped)="dropIntoFolder($event, folder.id)"
						(cdkDropListEntered)="draggingOverFolder.set(folder.id)"
						(cdkDropListExited)="draggingOverFolder.set(null)"
					>
						<app-folder-card
							[folder]="folder"
							[isReceiving]="draggingOverFolder() === folder.id"
							(folderClick)="openFolder($event)"
							(deleteFolder)="onDeleteFolder($event)"
							(editFolder)="onEditFolder($event)"
						/>
					</div>
				}
			</div>
		</div>
	</div>
} @else {
	<div class="flex flex-col items-center justify-center gap-4 h-full">
		<ng-icon name="lucideSearch" class="text-xl"></ng-icon>
		<div class="flex flex-col items-center gap-1">
			<h3 class="text-xl font-medium">Aun no hay pizarras</h3>
			<p class="text-muted-foreground text-sm">Crea Tu primer Pizarra</p>
		</div>
		<button hlmBtn (click)="createBoardModalState.openForCreate(false)">
			<ng-icon name="lucidePlus"></ng-icon>
			Crear pizarra
		</button>
	</div>
}
<app-folder-create-dialog
	[teamId]="teamId()!"
	[projectId]="projectId()!"
	(folderCreated)="loadFolders()"
/>
