<div class="flex h-full w-full gap-5">
	<app-sidebar>
		<sidebar-header>
			<nav-header icon="lucideTriangle" title="Proyecto 1"></nav-header>
		</sidebar-header>

		<sidebar-content [items]="SidebarBoardOptions()">
			<!-- Esto va arriba gracias al slot append -->

			@if (!isTrash()) {
				<button hlmBtn class="w-full mt-2" variant="default" (click)="openCreateBoard()">
					<ng-icon name="lucidePlus"></ng-icon>
					Crear pizarra
				</button>
			}
			<div append class="flex flex-col gap-2 mb-2">
				<div class="font-medium text-primary px-2 text-center">Espacios</div>
				<hlm-separator />
			</div>
		</sidebar-content>
	</app-sidebar>

	<div class="w-full">
		<router-outlet></router-outlet>
	</div>
</div>
<!-- modal crear pizarra-->
<app-board-create-dialog [projectId]="projectId() ?? ''" [teamId]="teamId() ?? ''" />
