<hlm-dialog [state]="state()" (closed)="closed.emit()">
	<hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:w-sm">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Crear Columna</h3>
			<p hlmDialogDescription>Empieza creando una nueva columna para organizar tus tareas</p>
		</hlm-dialog-header>

		<form [formRoot]="columnKanbanForm" id="create-column-form">
			<hlm-field-group>

				<hlm-field>
					<label hlmFieldLabel for="name">Nombre de la columna</label>

					<input hlmInput id="name" placeholder="Ejem. Sprint 1" [formField]="columnKanbanForm.title" />

					@for (error of columnKanbanForm.title().errors(); track error.kind) {
					<hlm-field-error [validator]="error.kind">
						{{ error.message }}
					</hlm-field-error>
					}
				</hlm-field>

			</hlm-field-group>
		</form>

		<hlm-dialog-footer>
			<button hlmBtn variant="outline" hlmDialogClose>Cancelar</button>
			<button hlmBtn form="create-column-form" type="submit" [disabled]="columnKanbanForm().submitting()">
				Crear
			</button>
		</hlm-dialog-footer>
	</hlm-dialog-content>
</hlm-dialog>